awsebcli==3.20.5
botocore==1.23.54
cement==2.8.2
certifi==2022.12.7
charset-normalizer==2.0.12
colorama==0.4.3
distlib==0.3.6
filelock==3.9.0
future==0.16.0
idna==3.4
jmespath==0.10.0
mysql-connector-python==8.0.32
pathspec==0.10.1
platformdirs==3.0.0
pypiwin32==223
python-dateutil==2.8.2
pywin32==305
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
termcolor==1.1.0
urllib3==1.26.14
virtualenv==20.19.0
wcwidth==0.1.9
